In [106]:
## WHILE LOOP 
i=1
while i<6:
    print(i)
    i+=1

1
2
3
4
5

In [107]:
## BREAK statement
i=1
while i<6:
    print(i)
    if i==3:
        break
    i+=1

1
2
3

In [108]:
## CONTINUE statement
i=1
while i<6:
    i+=1
    if i==3:
        continue
    print(i)

2
4
5
6

In [109]:
## 
i=1
while i<6:
    print(i)
    i+=1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [110]:
## FUNCTION
def my_function():
    print("hello from a function")

## calling a function
my_function()

hello from a function

In [111]:
## FUNCTION BY PARAMETER
def my_function1(fname):
    print(fname + " kumawat")
    
my_function1("Akshat")
my_function1("Devansh")

Akshat kumawat
Devansh kumawat

In [112]:
## ADDITION OF TWO NUMBER

def add():
    x=int(input("enter a number"))
    y=int(input("enter a number"))
    z=x+y
    print(z)
    
add()

6

In [113]:
def add(num1,num2):
    result=num1+num2
    return result

num1=3
num2=4
result=add(num1,num2)
print (result)

7

In [114]:
def name(fname,lname):
    print(fname+" "+lname)

name("Akshat","kumawat")

Akshat kumawat

In [115]:
## MULTIPLE ARGUMENTS OR (ARGS)
def my_function2(*kids):                ##--> args parameter
    print("the youngest child is " + kids[1])
    
my_function2("akshat","alpika","sujal")

the youngest child is alpika

In [116]:
## OTHER METHOD OF MULTIPLE ARGUMENTS
def my_function2(child1,child2,child3):                ##--> args pa
    print("the youngest child is " + child3)
    
my_function2(child1="akshat",child2="alpika",child3="sujal")

the youngest child is sujal

In [117]:
def my_country(country="India"):                ##--> args parameter
    print("i am from " + country)
    
my_country("Turkey")
my_country()
my_country("Thailand")

i am from Turkey
i am from India
i am from Thailand

In [118]:
## SQUARE OF A NUMBER   

def square():
    x=int(input("enter a number"))
    z=x*x
    print(z)

square()

9

In [119]:
## SQUARE OF A LIST

def square(input_lst):
    temp=[]
    for x in input_lst:
        temp.append(x*x)
    return temp


output=square([4,5,17,19])
print(output)

[16, 25, 289, 361]

In [120]:
## AVERAGE 
def average(list):
    return sum(list)/len(list)

average([2,4,6,3,5])

4.0

In [1]:
## MINIMUM VALUE IN A LIST
def min_function(list):
    a=min(list)
    print(a)

min_function([54, 63, 42, 59, 64])

42

In [123]:
## MAXIMUM VALUE IN A LIST
def max_function(list):
    a=max(list)
    print(a)


max_function([54, 63, 42, 59, 64])

64

In [124]:
## FIND MINIMUM VALUE IN A LIST WITHOUT USING FUNCTION

def apna_min(lst):
    minimum=x[0]
    for i in lst:
        if minimum>i:
            minimum=i
    return minimum
    
x=[6521,4334,2153,854,929]
apna_min(x)

854

In [125]:
## FIND MAXIMUM VALUE IN A LIST WITHOUT USING FUNCTION

def apna_max(lst):
    maximum=x[0]
    for i in lst:
        if maximum<i:
            maximum=i
    return maximum
    
x=[652,4334,2153,854,929]
apna_max(x)

4334

In [126]:
## LAMBDA FUNCTION

# lambda arg: expression

x=lambda a: a+10

print(x(30))

40

In [127]:
##ADDING 3 VARIABLE BY LAMBDA FUNCTION
x=lambda a,b,c: a+b+c+40

print(x(12,32,14))

98

In [128]:
## DOUBLE BY THE LAMBDA FUNCTION
def my_function(n):
    return lambda a:a*n

double=my_function(2)

print(double(10))

20