In [1]:
import numpy as np              # hum import krenge 'numpy' mai jo bhi h usse 'np' mai

In [4]:
lst = list(range(1,30))                     # isme hum range bnate h
arr1= np.array(lst)
arr1                            # used as an print statement

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29])

In [6]:
arr2 = np.arange(1,30)                      # isme hume range bnane ki need n hoti
arr2

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29])

In [9]:
arr3=np.array([1,2,3,4,5,6,7,8,9,6,7])
arr3

array([1, 2, 3, 4, 5, 6, 7, 8, 9, 6, 7])

In [10]:
arr4=np.zeros((10))                         # hume 0 ko 10 times print krna h
arr4

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [11]:
arr5=np.ones(10)                            # hume 1 ko 10 times print krna h
arr5

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [14]:
arr6=np.zeros((5,10))                         # print 10 times 0 and also in 5 list
arr6

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [15]:
arr7=np.ones((5,10))                         # hume 0 ko 10 times print krna h
arr7

array([[1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]])

In [21]:
arr8= np.linspace(1,20,200)                           # give random element in a range  
arr8

array([ 1.        ,  1.09547739,  1.19095477,  1.28643216,  1.38190955,
        1.47738693,  1.57286432,  1.66834171,  1.7638191 ,  1.85929648,
        1.95477387,  2.05025126,  2.14572864,  2.24120603,  2.33668342,
        2.4321608 ,  2.52763819,  2.62311558,  2.71859296,  2.81407035,
        2.90954774,  3.00502513,  3.10050251,  3.1959799 ,  3.29145729,
        3.38693467,  3.48241206,  3.57788945,  3.67336683,  3.76884422,
        3.86432161,  3.95979899,  4.05527638,  4.15075377,  4.24623116,
        4.34170854,  4.43718593,  4.53266332,  4.6281407 ,  4.72361809,
        4.81909548,  4.91457286,  5.01005025,  5.10552764,  5.20100503,
        5.29648241,  5.3919598 ,  5.48743719,  5.58291457,  5.67839196,
        5.77386935,  5.86934673,  5.96482412,  6.06030151,  6.15577889,
        6.25125628,  6.34673367,  6.44221106,  6.53768844,  6.63316583,
        6.72864322,  6.8241206 ,  6.91959799,  7.01507538,  7.11055276,
        7.20603015,  7.30150754,  7.39698492,  7.49246231,  7.5879397 ,
        7.68341709,  7.77889447,  7.87437186,  7.96984925,  8.06532663,
        8.16080402,  8.25628141,  8.35175879,  8.44723618,  8.54271357,
        8.63819095,  8.73366834,  8.82914573,  8.92462312,  9.0201005 ,
        9.11557789,  9.21105528,  9.30653266,  9.40201005,  9.49748744,
        9.59296482,  9.68844221,  9.7839196 ,  9.87939698,  9.97487437,
       10.07035176, 10.16582915, 10.26130653, 10.35678392, 10.45226131,
       10.54773869, 10.64321608, 10.73869347, 10.83417085, 10.92964824,
       11.02512563, 11.12060302, 11.2160804 , 11.31155779, 11.40703518,
       11.50251256, 11.59798995, 11.69346734, 11.78894472, 11.88442211,
       11.9798995 , 12.07537688, 12.17085427, 12.26633166, 12.36180905,
       12.45728643, 12.55276382, 12.64824121, 12.74371859, 12.83919598,
       12.93467337, 13.03015075, 13.12562814, 13.22110553, 13.31658291,
       13.4120603 , 13.50753769, 13.60301508, 13.69849246, 13.79396985,
       13.88944724, 13.98492462, 14.08040201, 14.1758794 , 14.27135678,
       14.36683417, 14.46231156, 14.55778894, 14.65326633, 14.74874372,
       14.84422111, 14.93969849, 15.03517588, 15.13065327, 15.22613065,
       15.32160804, 15.41708543, 15.51256281, 15.6080402 , 15.70351759,
       15.79899497, 15.89447236, 15.98994975, 16.08542714, 16.18090452,
       16.27638191, 16.3718593 , 16.46733668, 16.56281407, 16.65829146,
       16.75376884, 16.84924623, 16.94472362, 17.04020101, 17.13567839,
       17.23115578, 17.32663317, 17.42211055, 17.51758794, 17.61306533,
       17.70854271, 17.8040201 , 17.89949749, 17.99497487, 18.09045226,
       18.18592965, 18.28140704, 18.37688442, 18.47236181, 18.5678392 ,
       18.66331658, 18.75879397, 18.85427136, 18.94974874, 19.04522613,
       19.14070352, 19.2361809 , 19.33165829, 19.42713568, 19.52261307,
       19.61809045, 19.71356784, 19.80904523, 19.90452261, 20.        ])

In [22]:
arr9=np.arange(0,30).reshape(10,3)                  # make an array in a perticular range or make a set
arr9                                                # convert 1D into 2D array

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11],
       [12, 13, 14],
       [15, 16, 17],
       [18, 19, 20],
       [21, 22, 23],
       [24, 25, 26],
       [27, 28, 29]])

In [23]:
arr0=np.arange(0,60).reshape(12,5)
arr0

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34],
       [35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44],
       [45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54],
       [55, 56, 57, 58, 59]])

In [24]:
arr10= np.arange(10,50).reshape(8,5)
arr10

array([[10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34],
       [35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44],
       [45, 46, 47, 48, 49]])

### -> Random numbers array gen

In [35]:
arr_1D=np.random.randint(1,5,9)                     # put random digit in a set but in a range
arr_1D

array([4, 1, 2, 2, 2, 2, 1, 1, 4])

                   This gives 2D array in a random form

In [66]:
arr_2D=np.random.randint(1,5,(5,2))                 # this gives 2D array in a random form
arr_2D

array([[2, 4],
       [2, 1],
       [1, 3],
       [4, 1],
       [1, 1]])

            This gives 3D array in a random form

In [68]:
arr_3D=np.random.random(10)
arr_3D

array([0.84840558, 0.9202582 , 0.82169212, 0.18214415, 0.55919255,
       0.73109912, 0.31706534, 0.02806081, 0.08190453, 0.86581314])

                This gives 4D array in a random range

In [112]:
arr_4D=np.random.random((5,10))
arr_4D

array([[0.14027084, 0.54864712, 0.83487685, 0.67881858, 0.33019578,
        0.33131392, 0.63610625, 0.34468457, 0.79606931, 0.09877842],
       [0.23543633, 0.30806747, 0.39353812, 0.35260384, 0.05998055,
        0.50993412, 0.60644581, 0.75349377, 0.11933025, 0.40400183],
       [0.66416751, 0.67572659, 0.85746694, 0.66967646, 0.02044835,
        0.20494497, 0.55018846, 0.51771593, 0.69050313, 0.89012501],
       [0.82539013, 0.76006986, 0.57109716, 0.62701748, 0.88507228,
        0.10896681, 0.26138274, 0.17484175, 0.89542739, 0.43708718],
       [0.94160036, 0.03615942, 0.84864911, 0.71052983, 0.3983307 ,
        0.77643474, 0.99836052, 0.21329479, 0.36045972, 0.94829722]])

### -> Array Attributes

In [113]:
arr=np.arange(0,60).reshape(12,5)
arr

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34],
       [35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44],
       [45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54],
       [55, 56, 57, 58, 59]])

In [114]:
arr.shape

(12, 5)

In [115]:
arr.dtype      #for checking dtaype

dtype('int64')

In [116]:
arr.ndim          #for checking no. of dimension

2

In [117]:
arr.size               #for  checkig size

60

            function for converting 2D,3D,4D into 1D array

In [120]:
arr.flatten()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59])

In [119]:
arr.ravel()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59])

In [123]:
list_2D = [[1,2,3],[5,6,7]]
list_2D

[[1, 2, 3], [5, 6, 7]]

In [126]:
arr=np.array(list_2D)
arr

array([[1, 2, 3],
       [5, 6, 7]])

In [128]:
arr.shape

(2, 3)

In [129]:
arr.T              #make a transpose

array([[1, 5],
       [2, 6],
       [3, 7]])

In [130]:
arr.T.shape       #make a shape with transpose

(3, 2)

In [ ]:
### ->Accessing elements from 1D and 2D array
for 1d array [row_start:end:step/skip]
for 2d array [row-start:end:skip/step,column_start:end:skip/step]

In [132]:
arr = np.arange(0,60)                      # isme hume range bnane ki need n hoti
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59])

In [133]:
arr[12]               #print value in array

12

In [135]:
arr[0:6]            #print array in range from 0 to 5

array([0, 1, 2, 3, 4, 5])

In [136]:
arr[0:20:2]              #for even no.

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

In [137]:
## 2d array
arr = np.arange(60).reshape(12,5)             
arr

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34],
       [35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44],
       [45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54],
       [55, 56, 57, 58, 59]])

In [138]:
arr[1,1]          #give output as a elemnt of 1row,1column , indexing starts from 0

6

In [139]:
arr[1]          #give output from the 1st row

array([5, 6, 7, 8, 9])

In [140]:
arr[0:5,1:2]          #take 2nd elemnt from the above outputs, 0 to 5 for rows and 1 to 2 for columns

array([[ 1],
       [ 6],
       [11],
       [16],
       [21]])

In [141]:
arr[1,3:5]           #take from 1column from 7 to 9

array([8, 9])

In [143]:
arr[7:8,4]          #take output from column 7

array([39])

In [146]:
arr[7:8,4][0] = 100         #put value of 7column 5row = 100

In [147]:
arr                                  #39 change into 100

array([[  0,   1,   2,   3,   4],
       [  5,   6,   7,   8,   9],
       [ 10,  11,  12,  13,  14],
       [ 15,  16,  17,  18,  19],
       [ 20,  21,  22,  23,  24],
       [ 25,  26,  27,  28,  29],
       [ 30,  31,  32,  33,  34],
       [ 35,  36,  37,  38, 100],
       [ 40,  41,  42,  43,  44],
       [ 45,  46,  47,  48,  49],
       [ 50,  51,  52,  53,  54],
       [ 55,  56,  57,  58,  59]])

In [148]:
arr[11][-1]

59

In [149]:
arr[-1]           #negative indexing, indexing always start from 0

array([55, 56, 57, 58, 59])

In [150]:
arr[-1][-1]         #negative indexing take from bottom 1 row and  1column

59

In [151]:
arr[-1,-1]    #same as above

59

In [155]:
arr[11:,-1][0]

59

In [152]:
arr[11:,-1]

array([59])

In [154]:
arr[11,4]

59

### ->For 3d array

In [157]:
arr = np.array(np.arange(225).reshape(5,15,3))         #no. of brackets is 3 by this it is 3D array
arr

array([[[  0,   1,   2],
        [  3,   4,   5],
        [  6,   7,   8],
        [  9,  10,  11],
        [ 12,  13,  14],
        [ 15,  16,  17],
        [ 18,  19,  20],
        [ 21,  22,  23],
        [ 24,  25,  26],
        [ 27,  28,  29],
        [ 30,  31,  32],
        [ 33,  34,  35],
        [ 36,  37,  38],
        [ 39,  40,  41],
        [ 42,  43,  44]],

       [[ 45,  46,  47],
        [ 48,  49,  50],
        [ 51,  52,  53],
        [ 54,  55,  56],
        [ 57,  58,  59],
        [ 60,  61,  62],
        [ 63,  64,  65],
        [ 66,  67,  68],
        [ 69,  70,  71],
        [ 72,  73,  74],
        [ 75,  76,  77],
        [ 78,  79,  80],
        [ 81,  82,  83],
        [ 84,  85,  86],
        [ 87,  88,  89]],

       [[ 90,  91,  92],
        [ 93,  94,  95],
        [ 96,  97,  98],
        [ 99, 100, 101],
        [102, 103, 104],
        [105, 106, 107],
        [108, 109, 110],
        [111, 112, 113],
        [114, 115, 116],
        [117, 118, 119],
        [120, 121, 122],
        [123, 124, 125],
        [126, 127, 128],
        [129, 130, 131],
        [132, 133, 134]],

       [[135, 136, 137],
        [138, 139, 140],
        [141, 142, 143],
        [144, 145, 146],
        [147, 148, 149],
        [150, 151, 152],
        [153, 154, 155],
        [156, 157, 158],
        [159, 160, 161],
        [162, 163, 164],
        [165, 166, 167],
        [168, 169, 170],
        [171, 172, 173],
        [174, 175, 176],
        [177, 178, 179]],

       [[180, 181, 182],
        [183, 184, 185],
        [186, 187, 188],
        [189, 190, 191],
        [192, 193, 194],
        [195, 196, 197],
        [198, 199, 200],
        [201, 202, 203],
        [204, 205, 206],
        [207, 208, 209],
        [210, 211, 212],
        [213, 214, 215],
        [216, 217, 218],
        [219, 220, 221],
        [222, 223, 224]]])

In [158]:
arr.shape

(5, 15, 3)

In [159]:
arr.shape
#5 --> tble
#15 -->row
#3 -->column
###[table,row,column] --> for 3d array

(5, 15, 3)